apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-collector
  template:
    metadata:
      labels:
        app: data-collector
    spec:
      containers:
        - name: data-collector
          image: datacollector:latest
          ports:
            - containerPort: 5001
            - containerPort: 8001
          env:
            - name: NOME_SERVIZIO
              value: "data_collector"
            - name: NOME_NODO
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
---
apiVersion: v1
kind: Service
metadata:
  name: data-collector
spec:
  selector:
    app: data-collector
  ports:
    - name: http
      port: 5001
    - name: metrics
      port: 8001